<p id="notice"><%= notice %></p>

<div style="color:#fff;" id="notify"></div>

<div class="row">
	<div class="col-md-6">
		<h1 class="heading">Create New Game</h1>
		<%= render partial: "new_game_settings" %>
	</div>
	
    <%= render partial: "loading" %>

	<div class="col-md-6">
        <%= render partial: "/message/chat_window", locals: {scope: "global"} %>
	</div>
</div>