<div class="homepage-container">
  <h1 class="text-center">Welcome to Bughouse Chess!</h1>
  <div class="section sign-in">
	  <button onclick="window.location.href='/users/sign_in'">Sign In</button>
  </div>
  <div class="col-md-6">
    <div class="homepage-sections">
      <div id="what-is-bughouse-chess" class="section">
        <a href="#what-is-bughouse-chess">What is Bughouse Chess?</a>
        <p>Bughouse is a chess variant played on two chessboards by four players in teams of two. Each team member faces one opponent of the other team. Partners sit next to each other and one player has black, while the other has white. Each player plays the opponent as in a standard chess game, with the exception of the rules specified below.</p>
      </div>
      <div id="what-are-the-rules" class="section">
        <a href="#what-are-the-rules">What are the rules?</a>
        <p>A player capturing a piece immediately passes that piece to the capturing player's partner. The partner keeps these pieces in reserve and may, instead of playing a regular move, place one of these pieces on the board (as in shogi and crazyhouse). Pieces in reserve or on deck may be placed on any vacant square, including squares where the piece delivers check or checkmate. However, pawns may not be dropped on the first or last rank. Dropped pawns may promote, but all promoted pawns convert back to pawns when captured. In play over the board, a promoted pawn can be put on its side to indicate promotion.[3] A pawn placed on the second rank may move two squares on its first move. Each player must keep the reserve or stock pieces on the table in front of the board, always visible to all players of the game.</p>
      </div> 
      <div id="how-to-get-started" class="section">
        <a href="#how-to-get-started">How do I start playing?</a>
        <p>Simply sign in via 'Google' Twitter' or 'Github'. Once you log on you can click start game (non-competitive) to be paired with a random player.</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
	<div class="section">
      <div id="users-online" class="users-online">
        <%= render partial: "users_online_list", locals: {users_online: @users_online} %>
      </div>

    <div class="section">
    	<h4 class="text-center">Bobby(2112) and Neddy(2332)</h4>
    	<h5 class="text-center">VS</h5>
    	<h4 class="text-center">Bobby(2112) and Neddy(2332)</h4>
    	<div class="text-center">CHESS BOARD</div>
    </div>
  </div>
<div>

